<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO Chat Example</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body ng-app="chat" ng-controller="main" class="page-style">
  <h1 class="title">Niles and Skyler's Chat</h1>
    <div class="chat">
  <div ng-repeat="chatline in chat" ng-class="chatline.username === username?'my-chat-bubble':'chat-bubble'">
    {{chatline.username}} : {{chatline.message}}
  </div>
  <div id="bottom"></div>
</div>

<div class="row form-row">
  <div class="form-group col-sm-4">
    <input type="text" placeholder="Name" class="form-control" id="usr" ng-model="username">
  </div>
  <div class="form-group col-sm-4">
    <input type="text" placeholder="Message" class="form-control input" id="usr" ng-model="message">
  </div>

<div class="col-sm-2">
  <button class="btn" ng-click="sendMessage()">send</button>
</div>
</div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>
